body {
	margin: 0px;
	padding: 0px;
}

#page-containers {
	position: fixed;
	
	top: 0px;
	left: 0px;

	width: 100%;
	height: 100%;
	
	margin: 0px;
	padding: 0px;
}

#desktop-containers {	
	position: absolute;
	
	top: 0px;
	bottom: 40px;
	left: 0px;
	
	width: 100%;
	
	margin: 0px;
	padding: 0px;
	
	z-index: 0;
}

/* Custom... to delete.
 * Must be generated in the future.
-----------------------------------*/
#window-component-myschool {	
	top: 100px;
	left: 200px;
	
	width: 300px;
	height: 300px;
	
	z-index: 1;
}

#window-component-myprofile {	
	top: 300px;
	left: 600px;
	
	width: 400px;
	height: 400px;
	
	z-index: 2;
}

/* End of things to delete.
---------------------------*/

.window-component {
	background-color: #6666FF;

	position: absolute;
	
	margin: 0px;
	padding: 0px;
}

.window-title {
	background-color: #6666FF;
	
	position: absolute;
	
	top: 5px;
	left: 5px;
	right: 5px;
	
	height: 30px;
	
	margin: 0px;
	padding: 0px;
}

.window-content {
	background-color: #66FF66;
	
	position: absolute;
	
	top: 30px;
	bottom: 5px;
	left: 5px;
	right: 5px;
	
	margin: 0px;
	padding: 0px;
	
	overflow: auto;
}

#files-container {
	background-color: #FFFFCC;

	position: absolute;
	
	top: 0px;
	left: 0px;
	right: 400px;
	
	height: 100%;
	
	margin: 0px;
	padding: 0px;
}

.file-component {

}

#gadgets-container {
	background-color: #FFCCFF;

	position: absolute;
	
	top: 0px;
	right: 0px;
	
	width: 400px;
	height: 300px;
	
	margin: 0px;
	padding: 0px;
}

.gadget-component {

}

#alerts-container {
	background-color: #CCFFFF;

	position: absolute;
	
	top: 300px;
	bottom: 0px;
	right: 0px;
	
	width: 400px;
	
	margin: 0px;
	padding: 0px;
}

.alert-component {

}

#taskbar-containers {
	position:absolute;
	
	bottom: 0px;
	left: 0px;

	width: 100%;
	height: 40px;
	
	margin: 0px;
	padding: 0px;
	
	z-index: 100;
}

#menu-container {
	background-color: #FFCCCC;

	position: absolute;
	
	top: 0px;
	left: 0px;
	
	width: 200px;
	height: 100%;
	
	margin: 0px;
	padding: 0px;
}

.menu-component {

}

#miniatures-container {
	background-color: #CCFFCC;

	position: absolute;
	
	top: 0px;
	left: 200px;
	right: 0px;
	
	height: 100%;
	
	margin: 0px;
	padding: 0px;
}

.miniature-component {

}
